* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #ebdcd3;
  color: #000;
}

header {
  padding-top: 0px;
}

body {
  font-family: "freight-display-pro", serif;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%
}

main {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

p {
  font-family: "freight-display-pro", serif;
  line-height: 1.5;
  padding: 15px;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: "freight-display-pro", serif;
  font-size: 2.3em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: "freight-display-pro", serif;
  font-size: 1.3em;
  font-weight: bold;
}

label {
  text-align: left;
  margin-top: 10px;
}

::placeholder {
  font-family: "freight-display-pro", serif;
  font-size: .9em
}

img {
  width: 100%;
  display: block;
}
